* {
  box-sizing: border-box;
}

body {
  background-image: url('/Users/kmonkey84/Development/code/phase5/queerly-app/client/src/images/rainbow.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

.logo {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  column-gap: 50px;
  margin-left: 120px;
  padding: 20px 20px;
}

.review-cards {
  float: left;
}

.review {
  margin-top: 25px;
}