* {
  box-sizing: border-box;
}

body {
  background-image: url('/Users/kmonkey84/Development/code/phase5/queerly-app/client/src/images/rainbow.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

.logo {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
}

.background-white {
  background-color: white;
}